{% extends "base.html" %}

{% block title %}newsdiffs{% endblock %}

{% block head %}
<style>
    body {
        background-color: #f0f0f0;
    }

    h1 a {
        text-decoration: inherit;
        color: inherit;
    }

    form {
        display: inline-block;
    }

    table tr {
        margin: 0;
    }

    table td {
        background-color: white;
        padding: 0.5rem;
        margin: 0;
    }
</style>
{% endblock %}

{% block h1 %}<a href="/">View</a>{% endblock %}

{% block content %}
<table>
    {% for text in texts %}
    <tr>
        <td>
            <a href="/diff?1={{ text.prev_text_hashed }}&2={{ text.text_hashed }}">
                {{ text.prev_created_on|date:"Y-m-d H:i:s" }}
            </a>
        </td>
        <td>
            ↷
        </td>
        <td>
            <a href="/diff?1={{ text.prev_text_hashed }}&2={{ text.text_hashed }}">
                {{ text.created_on|date:"Y-m-d H:i:s" }}
            </a>
        </td>
        <td>
            {% ifequal text.text_hashed text.prev_text_hashed %}
            <span>no change</span>{% else %}<span>different</span>
            {% endifequal %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}